<a href="https://colab.research.google.com/github/taniagoa/Primer-challenge-DC/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [ ]:
total= tienda['Precio'].sum()
total

np.float64(1150880400.0)

In [ ]:
total2= tienda2['Precio'].sum()
total2

np.float64(1116343500.0)

In [ ]:
total3= tienda3['Precio'].sum()
total3

np.float64(1098019600.0)

In [24]:
total4= tienda4['Precio'].sum()
total4

np.float64(1038375700.0)

# 2. Ventas por categoría

In [43]:
Prod_vendidos=tienda.groupby('Categoría del Producto')['Producto'].count().sort_values(ascending=False)
Prod_vendidos.head(3)

Categoría del Producto
Muebles         465
Electrónicos    448
Juguetes        324
Name: Producto, dtype: int64

In [44]:
Prod_vendidos=tienda2.groupby('Categoría del Producto')['Producto'].count().sort_values(ascending=False)
Prod_vendidos.head(3)

Categoría del Producto
Muebles         442
Electrónicos    422
Juguetes        313
Name: Producto, dtype: int64

In [45]:
Prod_vendidos=tienda3.groupby('Categoría del Producto')['Producto'].count().sort_values(ascending=False)
Prod_vendidos.head(3)

Categoría del Producto
Muebles         499
Electrónicos    451
Juguetes        315
Name: Producto, dtype: int64

In [46]:
Prod_vendidos=tienda4.groupby('Categoría del Producto')['Producto'].count().sort_values(ascending=False)
Prod_vendidos.head(3)

Categoría del Producto
Muebles         480
Electrónicos    451
Juguetes        338
Name: Producto, dtype: int64

# 3. Calificación promedio de la tienda

In [49]:
Calif_Prom=tienda['Calificación'].mean()
Calif_Prom

np.float64(3.976685036032217)

In [50]:
Calif_Prom2=tienda2['Calificación'].mean()
Calif_Prom2

np.float64(4.037303942348453)

In [51]:
Calif_Prom3=tienda3['Calificación'].mean()
Calif_Prom3

np.float64(4.048325561678677)

In [52]:
Calif_Prom4=tienda4['Calificación'].mean()
Calif_Prom4

np.float64(3.9957591178965224)

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda